<!DOCTYPE html>
<html lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title> Cadastrar produto</title>
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>

    <body>
        <div class="container">
            <h1>Cadastrar Produtos</h1>
            <form th:object="${produto}" th:action="@{/product/salvar}"  method="post">
                
                <input th:field="*{id}" type="hidden" id="id">               
                
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="nome">Nome</label>
                        <input th:field="*{nome}" type="text" class="form-control" id="nome" placeholder="Nome" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="brand">Brand</label>
                        <input th:field="*{brand}" type="text" class="form-control" id="brand" placeholder="brand" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="made_in">Made_in</label>
                        <input th:field="*{made_in}" type="text" class="form-control" id="made_in" placeholder="made_in" />
                    </div>
                </div>
                 <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="price">Price</label>
                        <input th:field="*{price}" type="text" class="form-control" id="price" placeholder="price" />
                    </div>
                </div>
                <a class="btn" href="/product/listar">Voltar</a>
                <button class="btn btn-success" type="submit">Salvar</button>
            </form>
        </div>

        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>